pre {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 200px;
  padding: 5px;
  margin: 3px 0px;
  padding: 5px;
  background-color: #dedede;
  white-space: pre-wrap;
}

.summary-tag-icon {
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 0.5px;
}

.retry-btn {
  height: 25px;
  padding: 5px;
  width: 125px;
  font-weight: 500;
}

.alert {
  margin-bottom: 0;
}

.external-link-icon {
  font-size: 8px;
}

.email-container {
  margin-top: 5px;
}
